Repository TEAM-AAAAAAAAAAAAAAAA/AREA, pull requests merged in 2023-03, with the labels that each got.

#118 Front/create configuration cards
  client/package-lock.json
  client/src/App.tsx
  client/src/components/CreateService.tsx
  client/src/components/Services.tsx
  client/src/pages/Login.tsx
  client/src/pages/LoginWithDiscord.tsx
  client/src/pages/Services.tsx
  client/src/pages/Setup.tsx
  client/src/theme/variables.css
  client/src/utils/ApolloClient.tsx
Labels: Client

#119 Front/create configuration cards
  client/src/components/Services.tsx
  client/src/pages/Login.tsx
  client/src/pages/Services.tsx
Labels: Client

#125 Add 'login with discord' capabilities
  client/client_mobile.dockerfile
  client/package-lock.json
  client/package.json
  client/src/pages/Login.tsx
  client/src/pages/LoginWithDiscord.tsx
  client/yarn.lock
  database/prisma/migrations/20230228224502_db_init/migration.sql
  database/prisma/migrations/20230301095745_init/migration.sql
  database/prisma/schema.prisma
  server/package.json
  server/prisma/schema.prisma
  server/src/app.ts
  server/src/routes.ts
  server/src/routes/auth/index.ts
  server/src/routes/auth/login.ts
  server/src/routes/auth/oauth_providers/discord.ts
  server/src/routes/auth/oauth_providers/hackthebox.ts
  server/yarn.lock
Labels: Server, DB

#126 Front/create discord webhook
  client/src/pages/Setup.tsx
  database/src/schemas/index.ts
Labels: Client

#114 Docker/build apk
  .gitignore
  client/build-apk.sh
  client/client_mobile.dockerfile
  client/client_web.dockerfile
  client/src/pages/Login.tsx
  docker-compose.yml
Labels: Build, CI / CD

#140 Docker/bot discord
  .gitignore
  client/.dockerignore
  client/build-apk.sh
  client/client_mobile.dockerfile
  database/Dockerfile
  database/entrypoint.sh
  database/package.json
  discord-bot/Dockerfile
  discord-bot/package.json
  discord-bot/prisma/schema.prisma
  discord-bot/src/commands/createIssue.ts
  docker-compose.yml
  server/Dockerfile
  server/package.json
  server/src/services/.namespace.ts
  server/src/services/Github.ts
  server/src/transcoders/transcoders.ts
  server/yarn.lock
Labels: Build, CI / CD

#142 Front/create test suite
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/playwright.config.ts
  client/tests/index.spec.ts
Labels: Client, CI / CD, Test

#144 docs(grapqhl): Add schema documentation
  database/src/schemas/index.ts
  database/src/schemas/schema.graphql
Labels: Server, DB

#146 front: add prod serve
  client/client_web.dockerfile
  client/package-lock.json
  client/package.json
Labels: Client, Build

#152 front(apk): move client.apk to public/
  client/build-apk.sh
Labels: Client

#143 Front/reaction management
  client/src/components/Actions.tsx
  client/src/components/CreateReaction.tsx
  client/src/components/LinkAction.tsx
  client/src/components/LinkReactions.tsx
  client/src/components/Services.tsx
  client/src/pages/Login.tsx
  client/src/pages/LoginWithDiscord.tsx
  client/src/pages/Services.tsx
  database/prisma/migrations/20230304160609_/migration.sql
  database/prisma/migrations/20230304161320_/migration.sql
  database/prisma/schema.prisma
  database/src/schemas/index.ts
  discord-bot/prisma/schema.prisma
  server/prisma/schema.prisma
Labels: Client

#151 Auth/link GitHub to area account
  server/src/routes/auth/index.ts
  server/src/routes/auth/oauth_providers/github.ts
Labels: Server, Service

#155 client+back: refactored link reactions
  client/src/components/Actions.tsx
  client/src/components/LinkReactions.tsx
  database/src/schemas/index.ts
Labels: Client
