Repository TEAM-AAAAAAAAAAAAAAAA/AREA, pull requests merged in 2023-01, with the labels that each got.

#48 20 backsetup apollo
  database/README.md
  database/package.json
  database/prisma/schema.prisma
  database/src/app.ts
  database/src/config/env.ts
  database/src/context.ts
  database/src/schemas/index.ts
  database/yarn.lock
Labels: DB

#50 20 backsetup apollo
  client/Dockerfile
  client/client_mobile.dockerfile
  client/client_web.dockerfile
  database/.gitignore
  database/Dockerfile
  database/README.md
  database/justfile
  database/package.json
  database/prisma/schema.prisma
  database/src/app.ts
  database/src/config/seed.ts
  database/tsconfig.json
  database/yarn.lock
  docker-compose.yml
  server/.dockerignore
  server/.gitignore
  server/Dockerfile
  server/README.md
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/config/db.ts
  server/src/config/env.ts
  server/src/routes.ts
  server/src/routes/hook/index.ts
  server/src/routes/index.ts
  server/tsconfig.json
  server/yarn.lock
  webserver/Dockerfile
Labels: Build, CI / CD, DB

#69 Ask for email confirmation before validating a new user
  database/prisma/schema.prisma
  server/package.json
  server/src/app.ts
  server/src/config/env.ts
  server/src/routes.ts
  server/src/routes/auth/index.ts
  server/src/routes/auth/login.ts
  server/src/routes/auth/validate_email.ts
  server/src/utils/mailer.ts
  server/src/utils/token_type.ts
  server/yarn.lock
Labels: Client, Server

#65 Front/setup dockerfile client
  client/.gitignore
  client/capacitor.config.json
  client/capacitor.config.ts
  client/client_mobile.dockerfile
  client/client_web.dockerfile
  client/ionic.config.json
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/public/assets/icon/favicon.png
  client/public/assets/icon/icon.png
  client/public/assets/shapes.svg
  client/public/index.html
  client/public/manifest.json
  client/resources/icon.png
  client/resources/splash.png
  client/src/App.test.tsx
  client/src/App.tsx
  client/src/components/ExploreContainer.css
  client/src/components/ExploreContainer.tsx
  client/src/index.tsx
  client/src/pages/Tab1.css
  client/src/pages/Tab1.tsx
  client/src/pages/Tab2.css
  client/src/pages/Tab2.tsx
  client/src/pages/Tab3.css
  client/src/pages/Tab3.tsx
  client/src/react-app-env.d.ts
  client/src/reportWebVitals.ts
  client/src/service-worker.ts
  client/src/serviceWorkerRegistration.ts
  client/src/setupTests.ts
  client/src/theme/variables.css
  client/tsconfig.json
  docker-compose.yml
Labels: Client, Build

#73 Front/implements cards components
  client/.gitignore
  client/next.config.js
  client/package-lock.json
  client/public/index.html
  client/public/manifest.json
  client/resources/icon.png
  client/resources/splash.png
  client/src/App.tsx
  client/src/components/ExploreContainer.css
  client/src/components/ExploreContainer.tsx
  client/src/components/LoginContainer.tsx
  client/src/components/ServicesContainer.tsx
  client/src/pages/Login.tsx
  client/src/pages/Services.tsx
  client/src/pages/Tab1.css
  client/src/pages/Tab1.tsx
  client/src/pages/Tab2.css
  client/src/pages/Tab3.css
Labels: Client

#76 database : fix graphql array and add npm packages
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/yarn.lock
  database/package.json
  database/src/app.ts
  database/src/config/seed.ts
  database/src/schemas/index.ts
Labels: Client, DB

#77 25 backresolve incoming mutations
  database/prisma/schema.prisma
  database/src/schemas/index.ts
  server/package.json
  server/src/routes.ts
  server/yarn.lock
Labels: DB
