Repository TEAM-AAAAAAAAAAAAAAAA/AREA, pull requests merged in 2023-02, with the labels that each got.

#80 fix/invalid migration workflow
  README.md
  database/.gitignore
  database/Dockerfile
  database/entrypoint.sh
  database/package.json
  database/prisma/migrations/20230202110437_init/migration.sql
  database/prisma/migrations/migration_lock.toml
  database/prisma/schema.prisma
  database/src/config/seed.ts
  docker-compose.yml
  server/.gitignore
  server/Dockerfile
  server/package.json
  server/prisma/schema.prisma
  start-docker.sh
  tool-docker.sh
Labels: Build, DB

#78 poc: reaction for services
  server/src/reactions/.namespace.ts
  server/src/reactions/.reactions.ts
  server/src/reactions/Discord.ts
  server/src/reactions/Teams.ts
  server/src/routes/hook/index.ts
  server/src/services/Discord.ts
  server/src/services/IService.ts
  server/src/services/Teams.ts
Labels: Server

#101 cicd(eslint): remove double value from rules.quotes array
  .eslintrc.js
Labels: CI / CD, Bug

#96 Discord bot
  database/prisma/migrations/20230208151652_db_init/migration.sql
  database/prisma/migrations/20230208154439_db_init/migration.sql
  database/prisma/migrations/20230210141106_db_init/migration.sql
  database/prisma/migrations/20230213160626_db_init/migration.sql
  database/prisma/migrations/20230213164825_db_init/migration.sql
  database/prisma/migrations/20230214134422_db_init/migration.sql
  database/prisma/migrations/20230214142149_db_init/migration.sql
  database/prisma/migrations/20230214145607_db_init/migration.sql
  database/prisma/migrations/20230214150425_db_init/migration.sql
  database/prisma/migrations/20230222132518_db_init/migration.sql
  database/prisma/schema.prisma
  database/src/config/seed.ts
  discord-bot/.gitignore
  discord-bot/Dockerfile
  discord-bot/README.md
  discord-bot/package.json
  discord-bot/src/commands/meeting.ts
  discord-bot/src/config/db.ts
  discord-bot/src/config/env.ts
  discord-bot/src/events/feur.ts
  discord-bot/src/main.ts
  discord-bot/tsconfig.json
  server/Dockerfile
  server/package.json
  server/prisma/schema.prisma
  server/src/routes/auth/oauth_providers/utils.ts
  server/src/services/Discord.ts
  server/yarn.lock
Labels: Service
